@import 'reset.css';

:root {
    --primary: #f0d54b;
    --background: #e1e0e5;
    --white: #f5f5f5;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #fff url('../images/geometry.png');
    overflow-y: hidden;
}

.container {
    margin-top: 4rem;
    width: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin: 2rem 0;
}

button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
}

.score-panel {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap: 3rem;
    margin: 1.2rem 0;
    justify-content: center;
    align-items: center;
}

.reset-button {
    background-image: url(../images/reset.svg);
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    width: 20px;
    height: 1rem;
}

.board {
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    position: relative;
    margin-block-start: 1em;
    margin-block-end: 1em;
    width: 500px;
    min-height: 520px;
    background: var(--background);
    padding: 32px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.card {
    width: 120px;
    height: 120px;
    position: relative;
    background-color: white;
    border-radius: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    backface-visibility: hidden;
}

.card .front {
    border-radius: 5%;
    background-color: var(--primary);
}

.card.opened {
    transform: rotateY(180deg);
}

.card .back {
    background-color: white;
    transform: rotateY(180deg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 35%;
}

.card.opened .back {
    z-index: 1;
}

.card.matched .back {
    background-color: #f0f0f0;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 1rem 0;
}

.github-icon {
    width: 32px;
}

@media screen and (max-width: 768px) {
    .board {
        width: 80%;
        min-height: 350px;
        padding: 10px;
    }

    .card {
        width: 80px;
        height: 80px;
    }
}
